.fas {
    margin: 0;
    padding: 0;

    width: 1.2em;
    &+ .sidebar-text{
        margin-left: 1em;
    }
}
.action {
    display: flex;
    flex-direction: row;
    .table-edit {
        color: rgb(70, 70, 70);
        margin: 0 .5em;
    }
    .table-delete {
        color: rgb(238, 113, 113);
        margin: 0 .5em;
    }
}
abbr {
    .abbr-edit {
        cursor: pointer;
    }
    .abbr-delete {
        cursor: pointer;
    }
}
.buttons {
    button, a {
        &:hover {
            transform: scale(1.2);
        }
    }
}
.drawer-menu-item {
    width: 100%;
    overflow: hidden;
    padding: 0 0.625em;
    color: #708ca4;

    transition: 300ms ease;

    &:focus-within,
    &:hover {
        color: white;
        border-left: .5em solid rgb(6, 214, 160);
    }

    &:focus-within .submenu {
        max-height: 20em;
    }

    span, i {
        padding: 0 0.625em;
        margin: 1em 0;
        font-size: 1.25em;
    }

    button, button:hover, button:focus {
        display: block;
        width: 100%;
        all: unset;
    }

    .submenu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 500ms;
        
        ul {
            padding: 0;
            margin: .5em 0 1em 3em;
    
            list-style-type: none;
    
            li {
                padding: .3em .3em;
                margin: .5em;
                border-left: 2px solid rgba(255, 209, 102, .3);
                font-size: 1.1em;

                &:hover {
                    color: white;
                    border-left: 2px solid rgba(255, 209, 102, 1);
                }

                &:not(:hover) {
                    color: #708ca4;
                } 
                
                i {
                    font-size: .9em;
                    margin-right: 1em;
                }
            }
        }
    }
}
.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    justify-content: center;
    align-items: center;

    width: 17em;
    height: 25em;
    border-radius: 1em;
    background-color: rgba(12, 176, 169, .8);

    .title {
        font-size: 2em;
        color: white;
    }

    .fields {
        margin: 0 auto;

        .field {
            margin: 0 auto;
            padding: 0;

            i {
                position: absolute;
                top: 50%;
                left: .5em;
                font-size: 1.2em;
                transform: translateY(-50%);
            }

            input {
                box-sizing: border-box;
                padding: .3em 2em;
                margin: 1em auto;
                margin-right: 0;
                border: none;
                width: 70%;
            }
        }
    }
}
.confirm-delete {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;

    transition: opacity 300ms ease-in, hidden 300ms ease-in;

    background: rgba(7, 59, 76, .2);
    z-index: 1000;

    .box {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        background: rgba(17, 138, 178, .8);        

        width: 50%;
        height: 50%;

        .message{
            position: absolute;
            top: 1em;
            left: 1em;
            width: 100%;
            color: rgb(255, 209, 102);
            font-size: 1.7em;
            .action {
                display: inline;
                background: rgb(231, 55, 55);
                border: 1px dashed gray;
                border-radius: 1em;
            }
            .target {
                border-bottom: 3px solid rgb(6, 214, 160);
            }
        }
        .buttons {
            margin-top: 5em;
            color: white;

            .confirm,
            .cancel {
                font-size: 1.65em;
                width: 50%;
                text-align: center;
            }
            .confirm {
                bottom: 3em;
                left: 3em;
            }
            .cancel {
                bottom: 3em;
                right: 3em;
            }
        }
        
    }
}
.select-section {
    display: flex;
    justify-content: space-around;
}
.longlat {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .field {
        width: 40%;
    }

    .input-latitude {
        margin-right: 10%;
    }
    .input-longitude {
        margin-left: 10%;
    }
}
  
.bnameestpop {
    display: flex;
    justify-content: space-between;

    .input-bname {
        width: 50%;
    }
    .input-estpop {
        width: 40%;
        margin-left: 10%;
    }
}