.fas {
  margin: 0;
  padding: 0;
  width: 1.2em;
}

.fas + .sidebar-text {
  margin-left: 1em;
}

.action {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action .table-edit {
  color: #464646;
  margin: 0 0.5em;
}

.action .table-delete {
  color: #ee7171;
  margin: 0 0.5em;
}

abbr .abbr-edit {
  cursor: pointer;
}

abbr .abbr-delete {
  cursor: pointer;
}

.buttons button:hover,
.buttons a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.drawer-menu .dp-img {
  width: 100px;
  height: auto;
  padding: 1em;
}

.drawer-menu .dp-text {
  font-size: 1.2em;
  color: rebeccapurple;
}

.drawer-menu-item {
  width: 100%;
  overflow: hidden;
  padding: 0 0.625em;
  color: #708ca4;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.drawer-menu-item:focus-within, .drawer-menu-item:hover {
  color: white;
  cursor: pointer;
  border-left: 0.5em solid #06d6a0;
}

.drawer-menu-item:focus-within .submenu {
  max-height: 20em;
}

.drawer-menu-item.drawer-active {
  color: rebeccapurple;
}

.drawer-menu-item span,
.drawer-menu-item i {
  padding: 0 0.625em;
  margin: 1em 0;
  font-size: 1.25em;
}

.drawer-menu-item button,
.drawer-menu-item button:hover,
.drawer-menu-item button:focus {
  display: block;
  width: 100%;
  all: unset;
}

.drawer-menu-item .submenu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 500ms;
  transition: max-height 500ms;
}

.drawer-menu-item .submenu ul {
  padding: 0;
  margin: 0.5em 0 1em 3em;
  list-style-type: none;
}

.drawer-menu-item .submenu ul li {
  padding: 0.3em 0.3em;
  margin: 0.5em;
  border-left: 2px solid rgba(255, 209, 102, 0.3);
  font-size: 1.1em;
}

.drawer-menu-item .submenu ul li:hover {
  color: white;
  border-left: 2px solid #ffd166;
}

.drawer-menu-item .submenu ul li:not(:hover) {
  color: #708ca4;
}

.drawer-menu-item .submenu ul li i {
  font-size: 0.9em;
  margin-right: 1em;
}

.signup-form,
.login-form,
.account-form {
  max-width: 800px;
  width: 30%;
  margin: 2em auto;
}

.signup-form .field,
.login-form .field,
.account-form .field {
  position: relative;
  margin: 4em auto 1em;
  border-bottom: 2px dashed #073b4c;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
}

.signup-form .field::after,
.login-form .field::after,
.account-form .field::after {
  content: "";
  border-bottom: 3px solid #ef476f;
  position: relative;
  height: 4px;
  width: 100%;
  display: block;
  top: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  opacity: 0;
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, opacity 300ms ease;
  transition: transform 300ms ease, opacity 300ms ease, -webkit-transform 300ms ease;
}

.signup-form .input,
.login-form .input,
.account-form .input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  color: #073b4c;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-transition: border 300ms;
  transition: border 300ms;
}

.signup-form .input::-ms-reveal, .signup-form .input::-ms-clear,
.login-form .input::-ms-reveal,
.login-form .input::-ms-clear,
.account-form .input::-ms-reveal,
.account-form .input::-ms-clear {
  display: none;
}

.signup-form .label,
.login-form .label,
.account-form .label {
  z-index: -1;
  position: absolute;
  font-size: 1.2em;
  color: #073b4c;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.signup-form .field:focus-within,
.login-form .field:focus-within,
.account-form .field:focus-within {
  border-color: transparent;
}

.signup-form .field:focus-within::after,
.login-form .field:focus-within::after,
.account-form .field:focus-within::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.signup-form .field:focus-within .label,
.signup-form .input:not(:placeholder-shown) + .label,
.login-form .field:focus-within .label,
.login-form .input:not(:placeholder-shown) + .label,
.account-form .field:focus-within .label,
.account-form .input:not(:placeholder-shown) + .label {
  -webkit-transform: scale(0.85) translateY(-2.5em);
          transform: scale(0.85) translateY(-2.5em);
  opacity: 1;
}

.signup-form .strength,
.login-form .strength,
.account-form .strength {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 100%;
}

.signup-form .bar,
.login-form .bar,
.account-form .bar {
  margin-right: 5px;
  height: 100%;
  width: 25%;
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
  -webkit-box-shadow: inset 0px 20px #1f1f1f;
          box-shadow: inset 0px 20px #1f1f1f;
}

.signup-form .bar-show,
.login-form .bar-show,
.account-form .bar-show {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signup-form .bar-1,
.login-form .bar-1,
.account-form .bar-1 {
  background: -webkit-gradient(linear, left top, right top, from(red), to(orangered));
  background: linear-gradient(to right, red, orangered);
}

.signup-form .bar-2,
.login-form .bar-2,
.account-form .bar-2 {
  background: -webkit-gradient(linear, left top, right top, from(orangered), to(yellow));
  background: linear-gradient(to right, orangered, yellow);
}

.signup-form .bar-3,
.login-form .bar-3,
.account-form .bar-3 {
  background: -webkit-gradient(linear, left top, right top, from(yellow), to(yellowgreen));
  background: linear-gradient(to right, yellow, yellowgreen);
}

.signup-form .bar-4,
.login-form .bar-4,
.account-form .bar-4 {
  background: -webkit-gradient(linear, left top, right top, from(yellowgreen), to(#00f7ff));
  background: linear-gradient(to right, yellowgreen, #00f7ff);
}

.signup-form .bar-5,
.login-form .bar-5,
.account-form .bar-5 {
  background: -webkit-gradient(linear, left top, right top, from(#00f7ff), to(green));
  background: linear-gradient(to right, #00f7ff, green);
}

.signup-form .bar:last-child,
.login-form .bar:last-child,
.account-form .bar:last-child {
  margin-right: 0;
}

.signup-form .strength-text,
.login-form .strength-text,
.account-form .strength-text {
  margin-top: 20px;
}

.signup-form ul,
.login-form ul,
.account-form ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  font-size: 1.1em;
  text-align: left;
}

.signup-form button,
.login-form button,
.account-form button {
  margin-top: 2em;
  padding: 10px 30px;
  font-weight: bold;
  border: 2px solid greenyellow;
  color: greenyellow;
  border-radius: 100px;
  background: transparent;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.signup-form button:disabled,
.login-form button:disabled,
.account-form button:disabled {
  border-color: #073b4c;
  color: #073b4c;
}

.signup-form .toggle-password,
.login-form .toggle-password,
.account-form .toggle-password {
  position: absolute;
  cursor: help;
  font-size: 1.3em;
  right: 0.25em;
  bottom: 0.5em;
}

.signup-form .date,
.login-form .date,
.account-form .date {
  width: 100%;
}

.signup-form .dp_img,
.login-form .dp_img,
.account-form .dp_img {
  width: 50%;
  height: auto;
}

.select-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.longlat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.longlat .field {
  width: 40%;
}

.longlat .input-latitude {
  margin-right: 10%;
}

.longlat .input-longitude {
  margin-left: 10%;
}

.bnameestpop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bnameestpop .input-bname {
  width: 50%;
}

.bnameestpop .input-estpop {
  width: 40%;
  margin-left: 10%;
}

.alert {
  margin: 2em auto 1em;
  width: 60%;
  font-size: 1.1em;
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
  font-style: inherit;
  color: inherit !important;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none !important;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  outline: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  padding: inherit;
  vertical-align: inherit;
}

.mapping-main {
  height: 100%;
}

#covidTraceMap {
  min-height: 75%;
}

.mapping-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
  padding-bottom: 2em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mapping-controls-select {
  position: relative;
}

.mapping-controls-select label {
  position: absolute;
  top: -2em;
}

.mapping-controls-select select {
  width: 200px;
}

.mapping-options {
  margin: 2em auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#admin_accounts .admin_accounts_dp_image {
  width: 100px;
  height: 100px;
}

#admin_accounts .admin_accounts_dp_row {
  text-align: center;
}

#employee-log-form,
#customer-log-form,
#customer-add-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#employee-log-form .input-group,
#customer-log-form .input-group,
#customer-add-form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#employee-log-form .input-group + .input-group,
#customer-log-form .input-group + .input-group,
#customer-add-form .input-group + .input-group {
  margin-top: 2em;
}

#employee-log-form .input-group-label,
#customer-log-form .input-group-label,
#customer-add-form .input-group-label {
  margin-top: 2em;
  margin-bottom: 2em;
}

#employee-log-form .input-group #date,
#employee-log-form .input-group #time,
#employee-log-form .input-group #temp,
#customer-log-form .input-group #date,
#customer-log-form .input-group #time,
#customer-log-form .input-group #temp,
#customer-add-form .input-group #date,
#customer-add-form .input-group #time,
#customer-add-form .input-group #temp {
  width: 100px;
}

.swal2-overflow {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

#admin-account-edit-form .perms-group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#admin-account-edit-form .perms-group-wrapper .perms-group {
  width: 30%;
  margin: 1em auto;
  padding: 2em;
  border: 1px dashed black;
}

#admin-account-edit-form .perms-group-wrapper .perms-group strong {
  display: block;
  margin-bottom: 1em;
}

#admin-account-edit-form .perms-group-wrapper .perms-group .check-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#admin-account-edit-form .perms-group-wrapper .perms-group .check-group input {
  margin-right: 1em;
}
/*# sourceMappingURL=main.css.map */