.form {
  --text-color: #494949;
  --input-height: 50px;
  --transition-speed-fast: 300ms;
  --transition-speed-slow: 500ms;
  --background-color: #1d1a49;
  --border-color: rgb(55, 126, 185);
  --border-color-dark: rgb(42, 44, 128);
  font-size: 1.2em;
  max-width: 60%;
  margin: 0 auto;
}
.sep {
  width: 100%;
  display: block;
  border-top: 2px solid var(--border-color);
  margin-bottom: 3em;
}
.citymun,
.blevel {
  position: relative;
  display: inline-block;
}
.select {
  padding: .5em 4em .5em .8em;
  width: 100%;
  color: var(--text-color);
  background-color: white; 
  border: 1px solid var(--border-color);
  cursor: pointer;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
}
.select:focus, 
.select:hover {
  outline: none;
  border: 1px solid var(--border-color-dark);
}
.citymun img,
.blevel img {
  position: absolute;
  pointer-events: none;
  padding: .2em;
  height: 2em;
  right: .2em;
  transform: rotate(0deg);
  transition: transform var(--transition-speed-fast);
}
.select:focus + img {
  transform: rotate(180deg);
}
.option:focus .citymun img{
  transform: none;
}

.field {
  width: 100%;
  position: relative;
  border-bottom: 3px dashed var(--text-color);
  margin: 3.2em auto 1em;
  transition: 500ms;
}
.field .input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: border var(--transition-speed-fast);
}
.field::after {
  content: "";
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: var(--background-color);
  transform: scaleX(0);
  transform-origin: 0%;
  opacity: 0;
  transition: all var(--transition-speed-slow) ease;
  top: 2px;
}
.field:focus-within {
  border-color: transparent;
}
.field:focus-within::after {
  transform: scaleX(1);
  opacity: 1;
}
.label {
    color: var(--text-color);
    font-size: 1.2em;
    z-index: -1;
    position: absolute;
    left: 0;
    transform-origin: 0%;
    transition: transform var(--transition-speed-slow);
}
.field:focus-within .label,
.field .input:not(:placeholder-shown) + .label {
    transform: scale(0.8) translateY(-2.5em);
    opacity: 1;
}
.buttons {
  margin-top: 4em;
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
}
.buttons button {
  border: none;
  padding: .5em .8em;
  transition: transform var(--transition-speed-fast) ease;
}
.buttons button:hover {
  transform: scale(1.4)
}

.btn-listing {
  color: rgb(134, 108, 108);
}
.btn-save {
  color: rgb(53, 161, 53);
}
